th,td{
    padding: 10px;
    text-align: left;
}
td{
    padding: 10px;
    text-align: center;
}
table,th,td{
    border: 1px solid black;
    border-collapse: collapse;
}
table{
    width: 50%;
}
th{
    text-align: center;
    height: 30px;
}
.index{
    height: 100px;
}