th,td{
    text-align: right;
}
table,th,td{
    border: 1px solid red;
    border-collapse: collapse;
}
table{
    width: 300px;
}

.index{
    height: 100px;
}
.see1{
    border: none;
    text-align: right;
}