table{
    color: blue;
}
th,td{
    text-align: left;
}
td{
    text-align: center;
}
table,th,td{
    border: 2px solid red;
}
table{
    width: 50%;
}
th{
    text-align: center;
    height: 30px;
}
.content{
    width: 50%;
}
.content .sub_content{
    width: 20%;
}
.content .content_area{
    width: 60%;
}
.content .content_area p{
    color: black;
    text-align: left;
    font-weight: bold;
}
.content td {
    height: 200px;
}

